server {
    root {{ application_path }};
    listen 80;
    server_name _;
    #access_log off;
    sendfile off;
    gzip off;
    set $project_path {{ application_path }};
    set $static_path {{ application_path }}/static;
    set $python_version 3.4;
    set $virtualenv_packages {{ virtualenv_path }}/lib/python$python_version/site-packages;

    location ~ ^/(static|media)/(.*)$ {
        alias $project_path/$1/$2;
        add_header Access-Control-Allow-Origin *;
    }

    location ^~ /static/admin {
        alias $virtualenv_packages/django/contrib/admin/static/admin;
        add_header Access-Control-Allow-Origin *;
    }

    location ^~ /static/debug_toolbar {
        alias $virtualenv_packages/debug_toolbar/static/debug_toolbar;
        add_header Access-Control-Allow-Origin *;
    }

    location / {
        proxy_set_header Host $host;
        proxy_pass http://127.0.0.1:5000;
        client_max_body_size 100m;
    }
}

